In [103]:
import pandas as pd

# Ruta al archivo CSV
path = 'C:\\Users\\valef\\Downloads\\Social_Network_Ads.csv'
# Lee el archivo CSV en un DataFrame llamado "df"
df = pd.read_csv(path)

In [104]:
df.head() #head tiene por default 5 lineas, hay que poner un número entre los paréntesis

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [105]:
df.tail()
#para ver las últimas

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [106]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [107]:
df.shape
#Filas observaciones
#columnas son las features

(400, 5)

In [108]:
print(df)

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [109]:

# Reorder the columns

# Print the DataFrame to verify the order
print(df)

#This line adds a new column named 'Male' to the DataFrame 'df.' It checks if the 'gender' column is equal to 'Male' for each row using the == operator. This comparison results in a Boolean Series (True or False) for each row. The .astype(int) method then converts these Boolean values to integers (1 for True and 0 for False) and assigns them to the 'Male' column.
#Similar to the previous line, this line adds a new column named 'Female' to the DataFrame 'df.' It checks if the 'gender' column is equal to 'Female' for each row, converts the Boolean values to integers, and assigns them to the 'Female' column.

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [110]:
df['Male'] = (df['Gender'] == 'Male').astype(int)
df['Female'] = (df['Gender'] == 'Female').astype(int)

In [ ]:
#para datasets muy pequeños, irse por lo más fácil

In [ ]:
#df['Male'] = (df['gender'] == 'Male').astype(int): This line adds a new column named 'Male' to the DataFrame 'df.' It checks if the 'gender' column is equal to 'Male' for each row using the == operator. This comparison results in a Boolean Series (True or False) for each row. The .astype(int) method then converts these Boolean values to integers (1 for True and 0 for False) and assigns them to the 'Male' column.

#df['Female'] = (df['gender'] == 'Female').astype(int): Similar to the previous line, this line adds a new column named 'Female' to the DataFrame 'df.' It checks if the 'gender' column is equal to 'Female' for each row, converts the Boolean values to integers, and assigns them to the 'Female' column.

In [ ]:
#dummy coding: crea nuevas columnas de la columna previa categórica, es más fácil y más intuitivo para el mismo modelo, el modelo puede entenderlo m
#dummy columns: las nuevas categorías

In [111]:
df = df[['User ID','Male', 'Female', 'Age', 'EstimatedSalary', 'Purchased']]

In [112]:
print(df)

      User ID  Male  Female  Age  EstimatedSalary  Purchased
0    15624510     1       0   19            19000          0
1    15810944     1       0   35            20000          0
2    15668575     0       1   26            43000          0
3    15603246     0       1   27            57000          0
4    15804002     1       0   19            76000          0
..        ...   ...     ...  ...              ...        ...
395  15691863     0       1   46            41000          1
396  15706071     1       0   51            23000          1
397  15654296     0       1   50            20000          1
398  15755018     1       0   36            33000          0
399  15594041     0       1   49            36000          1

[400 rows x 6 columns]

In [86]:
#df.drop(columns="Gender")
#Para eliminar una columna
#En maxhine learning la mayoría de los datos debería estar en números
#ya tenenmos features, nos faltan labels
#x1 x2 x3 I  y #en este caso purchased es la y porque te ddice quien compra y quien no de acuerdo a las caracterìsticas

In [137]:
#Luego de labels y features, sigue dividir para entrenamiento :o (80% y 20%)

#Declarar dos nuevos datasets

#Se llega hasta antes de purchased pq esa sería la "y", entonces se limita a :4, que es el area de las columnas. Igual se podría estar usando drop

dftrain = df.iloc[:319,:4]

In [138]:
dftrain.shape

(319, 4)

In [139]:
print(dftrain)

     Male  Female  Age  EstimatedSalary
0       1       0   19            19000
1       1       0   35            20000
2       0       1   26            43000
3       0       1   27            57000
4       1       0   19            76000
..    ...     ...  ...              ...
314     0       1   39            79000
315     0       1   39            75000
316     0       1   54           104000
317     1       0   35            55000
318     1       0   45            32000

[319 rows x 4 columns]

In [142]:
dftest = df.iloc[319:,:4]

In [143]:
dftest.shape

(81, 4)

In [144]:
y = df["Purchased"]

In [145]:
print(y)

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [127]:
dfytrain= y.iloc[:319]

In [128]:
dfytrain.shape

(319,)

In [ ]:
# La coma única en (319,) indica que es una tupla con un solo valor, que es la longitud de la estructura unidimensional.

In [95]:
dfytest= y.iloc[319:]

In [96]:
dfytest.shape

(81,)

In [74]:
#LIBRERIA SCKIT-LEARN
import sklearn

In [119]:
#df = df.drop(columns=['User ID']) para borrar User ID
print(df)

     Male  Female  Age  EstimatedSalary  Purchased
0       1       0   19            19000          0
1       1       0   35            20000          0
2       0       1   26            43000          0
3       0       1   27            57000          0
4       1       0   19            76000          0
..    ...     ...  ...              ...        ...
395     0       1   46            41000          1
396     1       0   51            23000          1
397     0       1   50            20000          1
398     1       0   36            33000          0
399     0       1   49            36000          1

[400 rows x 5 columns]

In [147]:
print(dftest)

     Male  Female  Age  EstimatedSalary
319     1       0   36            60000
320     0       1   52           138000
321     0       1   53            82000
322     1       0   41            52000
323     0       1   48            30000
..    ...     ...  ...              ...
395     0       1   46            41000
396     1       0   51            23000
397     0       1   50            20000
398     1       0   36            33000
399     0       1   49            36000

[81 rows x 4 columns]

In [148]:
print(dftrain)

     Male  Female  Age  EstimatedSalary
0       1       0   19            19000
1       1       0   35            20000
2       0       1   26            43000
3       0       1   27            57000
4       1       0   19            76000
..    ...     ...  ...              ...
314     0       1   39            79000
315     0       1   39            75000
316     0       1   54           104000
317     1       0   35            55000
318     1       0   45            32000

[319 rows x 4 columns]

In [149]:
print(dfytrain)

0      0
1      0
2      0
3      0
4      0
      ..
314    0
315    1
316    1
317    0
318    1
Name: Purchased, Length: 319, dtype: int64

In [150]:
print(dfytest)

319    0
320    1
321    1
322    0
323    1
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 81, dtype: int64

In [151]:
#from sklearn.datasets import load_digits
from sklearn.linear_model import Perceptron
#dftrain,dfytrain = load_digits(return_X_y=True)
clf = Perceptron(tol=1e-3, random_state=0)
#declaramos objeto clasificador

In [152]:
clf.fit(dftrain, dfytrain)
#usamos el clasificador

Perceptron()

In [157]:
clf.score(dftrain, dfytrain)
#nos da el accuracy, la métrica de predicción, en este caso, tenemos 71% de exactitud

0.7115987460815048

In [158]:
clf.predict(dftest)
#array de los resultados esperados

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [159]:
print(dfytest)
#No that good

319    0
320    1
321    1
322    0
323    1
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 81, dtype: int64